.errorAlert{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 9999;
	transition: 2s;
}

.avatar {
	width: 100px;
	height: 60px;
}

.avatar img{
	width: 100%;
}